aiohttp==3.7.4
aiohttp-auth==0.1.1
aiohttp-route-decorator==0.1.4
aiohttp-security==0.4.0
aiohttp-session==2.9.0
aiohttp-swagger==1.0.15
aiojobs==0.3.0
aiosqlite==0.16.0
async-timeout==3.0.1
asyncio-mqtt==0.9.0
attrs==20.3.0
cbpi==4.0.0.28
cbpi4ui==0.0.13
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cryptography==3.3.2
idna==2.10
Jinja2==3.1.5
MarkupSafe==1.1.1
multidict==5.1.0
numpy==1.20.2
paho-mqtt==1.5.1
pandas==1.1.5
pycparser==2.20
pyfiglet==0.8.post1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
RPi.GPIO==0.7.0
shortuuid==1.0.1
six==1.15.0
tabulate==0.8.7
ticket-auth==0.1.4
typing-extensions==3.10.0.0
urllib3==1.26.4
voluptuous==0.12.1
yarl==1.6.3
cbpi4-pt100x==0.0.7
